doctype html
html(lang='en')
    head
        title Douglas Blog
        link(rel='icon' type='image/x-icon' href='../public/images/favicon.ico')
        link(rel='stylesheet', href='/stylesheets/normalize.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
