/* Navigation menu */
div.nav-menu {
    border: 2px solid blue;
    float: left;
    width: 14.2%;
    height: fit-content;
    margin: 2.8% 0 0 2.8%;
    position: fixed;
    text-align: center;
}

/* remove bullet points */
ul {
    list-style: none;
    text-align: center;
}

/* list in nav menu */
.nav-menu ul {
    list-style: none;

}

/* new-entry button */
.new-entry {
    margin: 5px -15% 5px 5px;
    background-color: rgb(10, 169, 100); /* Help color picking https://giggster.com/guide/complementary-colors/ */
    opacity: 100%;
    border-radius: 8px;
    font-size: large;
    color: white;
    padding: 5px 5px 5px 5px;
    font-weight: bold;
    /*transform: translateY(-4em);*/
    transform: translate(-8em, -4em);
}

.new-entry:hover {
    opacity: 90%;
    cursor: pointer;
}
/* End new-entry button */

/* Blog entries */
div.blog {
    border: 2px solid blue;
    text-align: center;
    min-width: 50%;
    width: fit-content;
    margin: 5px 0 0 25%;
    height: fit-content;
    max-width: 50%;
}

#blog_txt {
    width: 60%;
    height: fit-content;
    overflow-wrap: break-word;
    resize: none;
}

#idTitle {
    font-weight: bold;
}

#formatBlog {
    padding-right: 20px;
}


/* Dropdown menu styling */
/* Dropdown Button */
.drop {
    color: grey;
    font-size: x-large;
    border: none;
    width: fit-content;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
    transform: translate(13em, -300%);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    padding: 5px 5px 5px 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    transform: translate(18em, -60%);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .drop {background-color: darkorange;}

/* End dropdown menu styling */
